.Badges__heroo {
  width: 100%;
  padding: 2rem 0;
  background: url('../../images/stars.svg'), #1B1B25;
  background-repeat: repeat;
  margin-bottom: 50px;
  margin-top: -16px;
  height: 150px;
}

/*  SOME BADGESLIST STYLES IIN WRONG STYLESHEET.CSS  */
.table_styles{
  display: flex;
  flex-flow: column;
  text-align: start;
}

.rtthead{
  justify-content: space-around;
}
.ctbody {
  display: flex;
  justify-content: space-around;
}

.BadgesList__container {
  width: 100%;
  padding: 0 1rem;
  margin-top: 30px;
}

.grapho {
  display: none;
  justify-content: center;
  margin-top: 100px;
}

/*  SOME BADGESLIST STYLES IIN WRONG STYLESHEET.CSS  */


.title_one{
  color: #ffffff;
}

.Badges__hero>.Badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Badges__container {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 1rem;
}


.Badges__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}